<footer class="site-footer h-card u-full-width">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="container">
      <ul class="social-media-list">
        {% if site.github.username %}
        <li>
          {% include icon-github.html username=site.github.username %}
        </li>
        {% endif %}

        {% if site.twitter.username %}
        <li>
          {% include icon-twitter.html username=site.twitter.username %}
        </li>
        {% endif %}
        <li>
          <a href="{{ "/feed.xml" | relative_url }}">
            <i class="fa fa-rss"></i> rss
          </a>
        </li>
      </ul>
      <div class="contact-email">
        <a class="u-email" href="mailto:{{ site.email }}">
          <i class="fa fa-envelope"></i> {{ site.email }}
        </a>
      </div>
    </div>
</footer>
