{% if paginator.posts.size > 0 %}
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <dl class="post-meta">
          <dt><i class="fas fa-calendar"></i> Date: </dt>
          <dd>
            <time datetime="{{post.date | date_to_xmlschema}}" itemprop="datePublished">
              {{ post.date | date: date_format }}
            </time>
          </dd>
          {% if post.author %}
          <dt><i class="fas fa-pen-square"></i> Author: </dt>
          <dd>
            {{ post.author }}
          </dd>
          {% endif %}
          {% if post.type %}
          <dt><i class="fas fa-bookmark"></i> Type: </dt>
          <dd>
            {{ post.type }}
          </dd>
          {% endif %}
        </dl>
        {% if post.excerpt %}
        <p class="abstract">
          {{post.excerpt}}
        </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endif %}
<!-- Pagination links -->
{% if paginator.previous_page and paginator.next_page %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endif %}
