.site-footer {
    background: $color-clean;
    padding: $padding-default;
    text-align:center;
}

ul.social-media-list {
    list-style: none;
    padding:0;
    margin:0;
}

ul.social-media-list li {
    display: inline-block;
    padding: 0 .5em;
}

.site-footer a, .site-footer a:hover,
.site-footer a:focus, .site-footer a:visited {
    color: black;
}
