ul.post-list {
    list-style:none;
    margin: 0;
    padding: 0;
}

ul.post-list li {
    padding: $padding-default;
    padding-right: .5em;
    padding-left: .5em;
    border:1px solid #eee;
}

ul.post-list li h3 {
    margin-bottom: 0px;
}

ul.post-list li .abstract {
    margin-top: .5em;
    padding-left: 1em;
}

ul.post-list li .post-meta,
dl.post-meta {
    font-size: .8em;
}

dl.post-meta {
    margin: 0;

    dd, dt {
        display: inline-block;
        margin: 0
    }

    dt {
        font-weight: bold;
    }

    dt:before {
        content: "|";
    }

    dt:first-child:before {
        content: none;
    }

    dd.tag:after {
        content: ",";
    }

    dd.tag:last-child:after {
        content: none;
    }
}

header.post-header {
    margin-bottom:10px;
    text-align: center;

    h1 {
        margin-bottom:5px;
    }
}

ol {
    margin-left:10px;
}

figure.img.center {
    text-align:center;
}

figure.img figcaption {
    font-size:.8em;
}

.article-body {
    margin:auto;
    max-width: 740px;
    font-size:21px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 2em;
}

.article-content {
    margin: auto;
}

a, a:visited, a:hover, a:focus {
    color: $color-marine;
}
