---
# Custom main css
---

@import "minima";

.footer-col-3xs {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    /*word-break: break-all;*/
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

@include media-query($on-palm){
  .footer-col-3xs {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
