---
layout: default
---
<article class="post h-entry article-content">

  <header class="post-header">
    {% if page.image %}
        <img src={{ page.image }}
             class="img-responsive"
             style="margin:10px 0px;">
        <h1 class="post-title p-name text-assistive">{{ page.title | escape }}</h1>
    {% else %}
        <h1 class="post-title p-name">{{ page.title | escape }}</h1>
    {% endif %}
      <dl class="post-meta">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <dt><i class="fas fa-calendar"></i> Date: </dt>
        <dd>
          <time datetime="{{post.date | date_to_xmlschema}}">
            {{ page.date | date: date_format }}
          </time>
        </dd>
        {% if page.author_name %}
        <dt><i class="fas fa-pen-square"></i> Author: </dt>
        <dd>
          {{ page.author_name }}
        </dd>
        {% endif %}
        {% if page.seo.type %}
        <dt><i class="fas fa-bookmark"></i> Type: </dt>
        <dd>
          {{ page.seo.type }}
        </dd>
        {% endif %}
        {% if page.tags %}
        <dt class="tag-list"><i class="fas fa-tag"></i> Tags: </dt>
        {% for tag in page.tags %}
          <dd class="tag">{{tag}}</dd>
        {% endfor %}
        {% endif %}
      </dl>
  </header>

  <div class="post-content e-content article-body">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
